/* Styles */

/* show invisible elements
* {
   outline: 1px solid red;
}*/

.navbar-brand span.ra {
}
.navbar-brand span.sun {
    color: rgb(0, 225, 0);
}
.navbar {  
    border-radius: 0;
}

.uib-datepicker-popup table .btn,
.uib-datepicker-popup table .btn-sm, 
.uib-datepicker-popup table .btn-group-sm>.btn{
    border-radius: 0;
}

.navbar {
    z-index: 60;
}

.notify {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 70;
    width: 300px;
    overflow: hidden;
}

.display {

}
.display .caption {
    text-align: center;
    color: #9f9f9f;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 0.9em;
}
.display .value {
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
}
.display .unit {
    color: #6f6f6f;
    font-weight: 600;
    font-size: 0.65em;
}
.display .time {
    text-align: center;
    color: #9f9f9f;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.alert.ng-animate {
    position: relative;
  /*transition:0.5s linear all;*/
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}
.alert.ng-enter {
    bottom: -200px;
}
.alert.ng-enter.ng-enter-active {
    bottom: 0;
}
.alert.ng-leave {
    bottom: 0;
}
.alert.ng-leave.ng-leave-active {
    bottom: -200px;
}

/* Highcharts overwritr */
.highcharts-grid-line {
  mix-blend-mode: hue, difference;
}

.highcharts-background {
  fill: rgba(255,255,255,0.0);
}
.highcharts-container {
  font-family: inherit;
}
.highcharts-container text {
  /*mix-blend-mode: difference;*/
}