<!doctype html>
<html data-ng-app="ra_log" data-ng-controller="AppCtrl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ra&#x2600;log</title>

  <!-- AngularJS -->
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular/angular-route.min.js"></script>
  <script src="vendor/angular/angular-animate.min.js"></script>
  <script src="vendor/angular/angular-resource.min.js"></script>
  <script src="vendor/angular/angular-sanitize.min.js"></script>

  <script src="vendor/angular/ui-bootstrap-tpls-2.5.0.min.js"></script>

  <script src="vendor/angular/i18n/angular-locale_de.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Highcharts -->
  <script src="https://code.highcharts.com/stock/highstock.src.js"></script>  
  <link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css">

  <script src="vendor/pouchdb/pouchdb-6.3.4.min.js"></script>

  <!-- MomentJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/de.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.3.0/angular-moment.min.js"></script>
  
  <!-- ralog Code :-) -->
  <script src="js/config.js"></script>
  <script src="js/resources.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>


  <link rel="stylesheet" ng-href="{{ currentTheme.url }}">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<a name="top"></a>

<!-- Navigation start -->
<nav class="navbar navbar-default" data-ng-controller="NavCtrl">
  <div class="container container-fluid">


    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-ng-click="isNavCollapsed = !isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./"><span class="ra">ra</span><span class="sun">&#x2600;</span>log</a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" uib-collapse="!isNavCollapsed">
      <ul class="nav navbar-nav">

          <li data-ng-class="{ active: isActivePage('') }">
              <a href="#!/">Dashboard</a>
          </li>

          <li data-ng-class="{ active: isActivePage('chart') }" uib-dropdown>
            <a href="#!/chart" uib-dropdown-toggle>Charts <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li data-ng-repeat="chart in charts" data-ng-class="{ active: chart.name === currentChart.name }"><a href="#!/chart/{{chart.name}}">{{ chart.title }}</a></li>
            </ul>
          </li>

          <li data-ng-class="{ active: isActivePage('profile') }">
              <a href="#!/profile">Profile</a>
          </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li uib-dropdown>
              <a href="#!" uib-dropdown-toggle>Theme <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li data-ng-repeat="theme in themes" data-ng-click="loadTheme(theme, 0)" data-ng-class="[{ active: theme.name === currentTheme.name }, { divider: !theme.name }]">
                      <a href="" data-ng-if="!!theme.name">{{theme.name}}</a>
                  </li>
              </ul>
          </li>
          <!--<li uib-dropdown>
              <a href="#!" uib-dropdown-toggle>Chart Theme <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li data-ng-repeat="theme in chartThemes" data-ng-click="loadTheme(theme, 1)" data-ng-class="[{active: theme.name === currentChartTheme.name}, {divider: !theme.name}]">
                      <a href="" data-ng-if="!!theme.name">{{theme.name}}</a>
                  </li>
              </ul>
          </li>-->
      </ul>
    </div>

  </div>
</nav>
<!-- Navigation end -->


<div class="container container-fluid">
    <div class="row">
        <div class="col-md-12 hidden-sm hidden-xs"><br/></div>
    </div>
</div>

<div id="page">
    <div class="container container-fluid" data-ng-view></div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; 2017 by Martin Zoellner // made with 
          <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> | 
          <a href="https://angularjs.org/" target="_blank">AngularJS</a> | 
          <a href="https://couchdb.apache.org/" target="_blank">CouchDb</a> | 
          <a href="https://www.highcharts.com/" target="_blank">Highcharts</a> </p>
      </div>
    </footer>
</div>

<div class="notify" data-ng-controller="NotificationCtrl">
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert alert-' + (alert.type || 'warning')" close="closeAlert($index)" role="alert">
        <span data-ng-bind-html="alert.msg"></span>
    </div>
</div>


</body>
</html>