<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-offset-2 col-md-10">
        <div class="page-header">
          <h1>{{ currentChart.title }}
            <small>
              <a href="" data-ng-show="pager.show" data-ng-click="dpOpen()" uib-datepicker-popup="{{pager.urlDates[pager.idx]}}" ng-model="dpDate" is-open="dpPopup.opened" datepicker-options="dpOptions">
                {{ currentChart.subtitle }}<b class="caret"></b>
              </a>
              <span data-ng-hide="pager.show">
                {{ currentChart.subtitle }}
              </span>
            </small>
          </h1>
        </div>
      </div>            
      <!--<div class="col-md-2" data-ng-if="pager.show">
        <a class="btn btn-default" href="#!/chart/{{ pager.charts[pager.idx+1] }}/{{ pager.date | date:pager.urlDates[pager.idx+1] }}">
          <b class="glyphicon glyphicon-chevron-up"></b>
          {{ pager.date | date:pager.displayDates[idx+1] }}</a>
      </div>-->
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-2 hidden-sm hidden-xs">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="" data-ng-click="isChartCollapsed = !isChartCollapsed">Charts<b class="caret"></b></a>
          </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="isChartCollapsed">
          <div class="list-group">
            <a data-ng-repeat="chart in charts" class="list-group-item" data-ng-class="{active: chart.name === currentChart.name}" href="#!/chart/{{chart.name}}">{{chart.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-10">
    <div class="panel panel-default">

      <div class="panel-body">
        <highchart data-ng-model="currentChart"></highchart>
      </div>

      <div class="panel-footer" data-ng-if="pager.show">
        
        <div class="row">
          <div class="col-xs-6 col-md-2">
            <a class="btn btn-default btn-md" ng-hide="!pager.prev"
               href="#!/chart/{{ currentChart.name }}/{{ pager.prev | amDateFormat:pager.urlDates[pager.idx] }}">
              <b class="glyphicon glyphicon-chevron-left"></b>
            </a>
          </div>
          <div class="col-md-8 hidden-xs"></div>
          <!--<div class="col-md-2 text-center">
            <strong class="lead">{{ 4457 | number:2 }} kWh</strong><br>
            <small class="text-muted">{{ 'INFO_POWER_TOTAL'  }}</small>
          </div>
          <div class="col-md-2 text-center">
            <strong class="lead"><span>{{ 12 | number:2 }}</span> kWh</strong><br>
            <small class="text-muted">{{ 'INFO_POWER_TODAY'  }}</small>
          </div>
          <div class="col-md-2 text-center">
            {{ 'Fri Jul 21 2017 01:25:01 GMT+0200'  }}<br>
            <small class="text-muted">Last Update</small>
          </div>
          <div class="col-md-2 text-center"><br>
            <small class="text-muted">{{ 'INFO_LAST_UPDATE'  }}</small>
          </div>-->
          <div class="col-xs-6 col-md-2">
            <a class="btn btn-default btn-md pull-right" ng-hide="!pager.next"
               href="#!/chart/{{ currentChart.name }}/{{ pager.next | amDateFormat:pager.urlDates[pager.idx] }}">
              <b class="glyphicon glyphicon-chevron-right"></b>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>