<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="page-header">
      <h1>Anlagensteckbrief
        <small>Photovoltaik Zoellner Forstinning</small></h1>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-1">

        <div class="panel panel-default">
          <div class="panel-body">
            
            <dl class="dl-horizontal">
              <dt>Standort</dt>
              <dd>Forstinning, Deutschland</dd>
              <dt>Betreiber</dt>
              <dd>Dieter Zoellner</dd>
              <dt>Inbetriebnahme</dt>
              <dd>09.11.2009</dd>
            </dl>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            
            <dl class="dl-horizontal">
              <dt>Anlagenleistung</dt>
              <dd>5,16 kWp</dd>
              <dt>Jahresproduktion</dt>
              <dd>ca. 5.444 kWh (1.055 kWh/kWp)</dd>
              <dt>CO<sub>2</sub> Vermeidung</dt>
              <dd>ca. 3,8 Tonnen jährlich</dd>
            </dl>
            
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            
            <dl class="dl-horizontal">
              <dt>Module</dt>
              <dd>Sanyo HIP-215NKHE-1</dd>
              <dt>Wechselrichter</dt>
              <dd>Sunny Web Boy 5000TL</dd>
              <dt>Kommunikation</dt>
              <dd>Sunny WebBox</dd>
            </dl>
            
          </div>
        </div>

      </div>
      <div class="col-md-4">

        <div class="thumbnail">
          <img src="view/Solardach.jpg"> 
          <div class="caption"> 
            <h3>Profil</h3> 
            <p>Klassische PV Anlage auf dem Dach einer DHH in Forstinning. Weniger Platz wegen vorhandener Solarthermieanlage, Dach-fenster, SAT-Schüssel und Leiter für Schornsteinfeger.</p>
          </div> 
        </div>

      </div>
    </div>
  </div>
</div>